{% extends 'base.html' %}

{% block header %}
  <h1>Base de Dados Associação de Estudantes</h1>
{% endblock %}

{% block content %}
  <h2><a href="/estudantes">Estudante:</a> {{ estudante.Nome }}</h2>
  <p>
    <b>Id (na associação): </b>{{ estudante.Id }}
  </p>
  <p>
    <b>Nome:</b> {{ estudante.Nome }}
  </p>
  <p>
    <b>Sexo:</b> {{ estudante.Sexo }}
  </p>
  <p>
    <b>Data de nascimento:</b> {{ estudante.Nascimento }}
  </p>
  <p>
    <b>Data de adesão:</b> {{ estudante.Adesao }}
  </p>
  <p>
    <b>Curso:</b> {{ estudante.CursoNome }}
  </p>
  <p>
    <b>Ano curricular atual:</b> {{ estudante.CursoAno }}
  </p>

  {% if 'Telemovel' in telemovel %}
  <p>
    <b>Telemóvel: </b>{{ estudante.Telemovel }}
  </p>
  {% endif %}

  {% if 'Nome' in mentor %}
  <p>
    <b>Mentor:</b> <a href="/estudantes/{{ estudante.Mentor }}">{{ mentor.Nome }}</a>
  </p>
  {% endif %}

  {% if mentorados %}
  <p>
    <b>Mentorados: </b><ul>
      {% for m  in mentorados %}      
      <li><a href="/estudantes/{{ m.Id }}">{{ m.Nome }}</a></li>
    {% endfor %}
    </ul>
  </p>
  {% endif %}

  <p>
    <b>Departamentos:</b><ul>
      {% for d in departamentos %}
        <li><a href="/departamentos/{{ d.Id }}">{{ d.Nome }}</a>
        {% if presidente.Departamento == d.Id %}
        (Preside)
        {% endif %}</li>
      {% endfor %}
    </ul>
  </p>
{% endblock %}